# This is an example .env file. Please copy this file, rename it to .env, and then place it inside the root directory of the project
# Not all variables are required, but functionality may be affected if you leave some unset
# See README.md for more information

DISCORD_TOKEN=
KAT_API_URL=